@use './variables.scss' as *;

.headerMainContainer{
    display: flex;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 1rem;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;

    .headerLogoContainer{
        width: 125px;
        .logo{
            width: 100%;
        }
    }

    .smallHeaderNavMainContainer{
        position: relative;

        svg{
            font-size: 1.5rem;
            cursor: pointer;
        }
        .smallNavContainer{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primaryModalColor; /* Semi-transparent background */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            transition: all 0.5s linear;
            .smallHeaderNavContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                svg{
                    position: absolute;
                    top: 20px;
                    right: 10%;
                    font-size: 3rem;
                    color: #ff0000;
                }
                .navLinks{
                    list-style: none;
                    font-size: 2rem;
                    color: $primary;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    position: relative;
                    cursor: pointer;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 3px;
                        border-radius: 14px;
                        background-color: $primary;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        transition: all 0.3s ease;
                    }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }

                        &:active{
                            &::after{
                                width: 100%;
                            }
                        }
                }
                .active{
                    font-weight: 600;
                }
                // gap: 10px;
            }
       
        }
    }


    .bigHeaderNavMainContainer{
        display: none;
    }
}


@media screen and (min-width: 767px) {
    .headerMainContainer{
        .smallHeaderNavMainContainer{
            display: none;
        }
        
        .bigHeaderNavMainContainer{
            display: block;


            .bigNavContainer{

                .bigHeaderNavContainer{
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .navLinks{
                        font-size: 1.2rem;
                        color: $primary;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            content: "";
                            width: 0%;
                            height: 3px;
                            border-radius: 14px;
                            background-color: $primary;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            transition: all 0.3s ease;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }

                        &:active{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    .active{
                        font-weight: 600;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}