@use './variables.scss' as *;

.paxSelectorMainContainer{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.3);
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .paxSelectorContainer{
        text-align: center;
        background-color: $primaryModalColor;
        padding: 1rem;
        width: 350px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 14px;
        
        .cancelBookingContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .crossIcon{
                background-color: transparent;
                display: block;
                margin-left: auto;
                font-size: 1rem;
                color: $primary;
                border: 0;
                transition: all 0.3s linear;
                &:active,
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            
            .backIcon{
                background-color: transparent;
                display: block;
            margin-right: auto;
            font-size: 1rem;
            color: $primary;
            border: 0;
            transition: all 0.3s linear;
            &:active,
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
    h1{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .bookingType{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font: bold;
    }
    
    .paxSelector{
        display: flex;
        flex-direction: column;
        gap:20px;
        margin-top: 2rem;
        width: 100%;
        
        .pax{
            display: grid;
            grid-template-columns: 1fr 100px 1fr;
            align-items: center;
            // display: flex;
            // justify-content: space-between;
            gap: 10px;
            padding: 1rem;
            align-content: center;
            border: 1px solid $cardBorderColor;
            border-radius: 8px;
            box-shadow: 1px 1px 10px 1px $cardBorderColor;
            
            p{
                text-align: start;                
                gap: 5px;
                
                span{
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            .btnContainer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                p{
                    font-size: 1.4rem;
                }
                
                
                svg{
                    color: $primary;
                    font-size: 2rem;
                    cursor: pointer;
                }
                .disabledBtn {
                    color: #808080;
                    cursor: not-allowed;
                }
            }
            .price{
                text-align: end;
            }
        }
    }
    
    .totalPayable,
    .dateContainer{
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-between;
        span, p{
            font-size: 1.2rem;
            font-weight: 600;
        }
        
        
        button{
            font-size: 1.2rem;
            color: #fff;
            background-color: $primary;
            border-radius: 8px;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            
            &:hover{
                cursor: pointer;
            }
        }
    }

}

}

@media screen and (min-width: 763px) {
    .paxSelectorMainContainer{
        .paxSelectorContainer {
           width: 650px;
        }        
    }
}
