@use './variables.scss' as *;
.prefrenceTab{
    display: grid;
    padding: 1rem;

    .prefrenceTabCardContainer{
        display: grid;
        grid-template-columns: repeat(2,300px);
        gap: 1rem;
        overflow-x: scroll;
        padding:1rem;
        
        .prefrenceTabCard{
            padding: 1rem;
            background-color: $primaryModalColor;
            display: flex;
            flex-direction: column;
            min-height: 300px;
            justify-content: space-around;
            border-radius: 16px;

            .content{

                p{
                    font-weight: 700;
                }

                button{
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    background-color: $primary;
                    color: #fff;
                    padding: 8px 1rem;
                    margin-top: 10px;
                    border: none;
                    border-radius: 5px;
                }
            }


            ul{
                padding-left: 16px;
            }
        }
    }
}


@media screen and (min-width: 767px) {
    .prefrenceTab{
    
        .prefrenceTabCardContainer{
            overflow-x: unset;
        }
    }
}