@use './variables.scss' as *;


.productContainerMainSection{
    max-width: $maxWidth;
    margin: 2rem auto;

    .productContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}


@media screen and (min-width: 767px) {
    .productContainerMainSection{
    
        .productContainer{
            display: grid;
            grid-template-columns: repeat(2,1fr);

        }
    }
}


@media screen and (min-width: 1200px) {
    .productContainerMainSection{
    
        .productContainer{
            display: grid;
            grid-template-columns: repeat(3,1fr);

        }
    }
}