@use './variables.scss' as *;

.homeVisitorTipsMainContainer{
    margin: 2rem 0;
    padding-inline-start: 18px;


    ul{
        margin-top: 1rem;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0px;

        li{
            margin: 0.51rem 0;

            &::marker{
                font-size: 1.2rem;
            }
        }
    }
}