@use './variables.scss' as *;

.tourHomeTopContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;


    .content{

        h1{
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.8px;
            font-weight: 600;
            text-transform: capitalize  ;
        }

        p{
            margin: 1rem 0px 0px 0px;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 0px;
        }
    }
    .tourHomeTopImgContainer{
        display: none;
    }
}

//media Query for tablet
@media screen and (min-width:767px) {
    .tourHomeTopContainer {
            display: grid;
            grid-template-columns: .5fr .5fr;
            align-items: center;
            gap: 20px;
            


            .content {
            
                    h1 {
                        font-size: 34px;
                        line-height: 38px;
                        letter-spacing: 0.8px;
                        font-weight: 600;
                    }
            
                    p {
                        margin: 1rem 0px 0px 0px;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 28px;
                        letter-spacing: 0px;
                    }
                }
            .tourHomeTopImgContainer {
                display: block;
                img{
                    box-shadow: 1px 1px 10px 1px $cardBorderColor;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
}